{% extends "base.html" %}

{% block content %}
    <h1>Mociute Labas!</h1>


    <h6 style="padding-top: 50px">Random Image Loading</h6>
    <a href="https://github.com/toshism/django-random-image">
        Django load random images from directory
    </a>

    <br>

    <a href="https://stackoverflow.com/questions/49458428/how-to-select-a-random-image-in-a-django-template">
        StackOverflow
    </a>

    <br>

     <a href="https://www.codementor.io/@hiteshgarg14/creating-custom-template-tags-in-django-application-58wvmqm5f">
        Creating a custom tag
    </a>

    
    <br>
    <a href="#">
        Text
    </a>

{% endblock content %}