{% extends "base.html" %}

{% block content %}

<h5 class="container-fluid">PickFeel - How to Use</h5>
<P class="container-fluid">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Duis ex nunc, feugiat vel magna id, egestas semper dolor.
    Aenean ut placerat turpis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Sed nisi ex, sagittis nec arcu vitae, interdum tempus magna. Sed imperdiet pulvinar mauris.
    Phasellus vehicula iaculis lacinia. Curabitur a felis id arcu vulputate volutpat.
    Nullam a metus feugiat nisi pretium ultricies molestie quis metus.
    In ullamcorper hendrerit urna in tristique. Curabitur porta vitae lorem quis egestas.
    Quisque eu nisi ut sapien vehicula aliquet. Aenean ullamcorper scelerisque feugiat.
    Praesent porta, justo ut porttitor iaculis, augue ex cursus orci, sit amet eleifend ex dui ac ipsum.
</P>


<!--Google form --- System Usability Test-->
<iframe class="container-fluid" src="https://docs.google.com/forms/d/e/1FAIpQLScE5qB2FpARVOMyDLrgR3lEBufu516OgfUlefR-oi6vTRipiQ/viewform?embedded=true" width="640" height="446" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
{% endblock content %}