{% extends "base.html" %}
{% load static %}
{% load random_Image %}


{% block content %}
    <h1>PickFeel</h1>
    <h6>Pick an image based on how you feel</h6>

    <!--Grid-->
    <div class="container-fluid my-container">

		<form action="addition" method="post" >
        {% csrf_token %}
        {% random_images_normal 3 as images_normal %}
        <div class="row no-pad display-flex  my-row">
            {% for image in images_normal %}
                <div class="image-radio brightness col-xl-4 col-lg-4 col-md-4 col-sm-4 col- my-col my-col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 my-col">
					<label for="{{ image }}">
						<img class="img-thumbnail" src="{{ MEDIA_URL}}{{ image }}">
						<input type="radio" id="{{ image }}" name="checked-radio" value="normal" style="visibility:hidden">
					</label>
                </div>
            {% endfor %}
        </div>

        {% random_images_mania 3 as images_depression %}
            <div class="row no-pad display-flex  my-row">
                {% for image in images_depression %}
                    <div class="image-radio brightness col-xl-4 col-lg-4 col-md-4 col-sm-4 col- my-col my-col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 my-col">
						<label for="{{ image }}">
							<img class="img-thumbnail" src="{{ MEDIA_URL}}{{ image }}">
							<input type="radio" id="{{ image }}" name="checked-radio" value="mania" style="visibility:hidden">
						</label>
                    </div>
                {% endfor %}
            </div>

         {% random_images_depression 3 as images_mania %}
            <div class="row no-pad display-flex  my-row">
                {% for image in images_mania %}
                    <div class="image-radio brightness col-xl-4 col-lg-4 col-md-4 col-sm-4 col- my-col my-col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 my-col">
						<label for="{{ image }}">
							<img class="img-thumbnail" src="{{ MEDIA_URL}}{{ image }}">
							<input type="radio" id="{{ image }}" name="checked-radio" value="depression" style="visibility:hidden">
						</label>
                    </div>
                {% endfor %}
            </div>
		<button type="submit" class="btn btn-primary btn-lg btn-block">Finish</button>
		</form>
    </div>


    <!--Refresh Button-->
    <div class="">
        <form method="post">
            {% csrf_token %}
            <button id='refresh-btn' href="" type="submit" class="btn-sm btn-danger">Refresh</button>
        </form>
    </div>

{% endblock content %}